<footer>
  <p>&copy; 2024 Mohammed Ben Aicha. All rights reserved.</p>
</footer>

<style>
  footer {
    background-color: var(--text-color);
    color: var(--background);
    text-align: center;
    padding: 2rem;
    margin-top: 2rem;
  }
</style> 